body{   
  padding: 0px;
  margin: 0px;
  
    color: #10FF00;
    background-color: black;
    display: flex;
    height: 100vh;
    overflow: hidden;
}


.title{
    text-align: center;
}
.hidden-text{
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    resize: none;
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    font-size: 17px;
    color: #10FF00;
}

textarea:focus, input:focus{
    outline: none;
}

.hidden-text::-webkit-scrollbar {
    display: none;
  }

div {
 border: 3px dashed rgb(255, 255, 255);
 border-radius: 3px;
    
}
.box-containers {
    height: 100%;
 width: 100%;
    display: flex;
    flex: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.box1,.box2 {
    display: flex;
   height: auto;
    width: auto;
}

.box1 {
    flex-direction: column;
    flex: 2;
}

.box2 {
    flex-direction: column;
    flex: 1;
   
}

.mini-box1 {
 
    display: flex;
flex: 1;

}
.mini-box2 {
    display: flex;
    flex: 1;
  
    }


